boto3==1.9.94
botocore==1.12.94
cairocffi==1.0.2
CairoSVG==2.3.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.11
django-storages==1.7.1
docutils==0.14
html5lib==1.0.1
idna==2.8
jmespath==0.9.3
Pillow==5.4.1
pycparser==2.19
PyMySQL==0.9.3
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
s3transfer==0.2.0
six==1.12.0
tinycss2==0.6.1
urllib3==1.24.1
WeasyPrint==45
webencodings==0.5.1
